body {
	font-family: sans-serif;
}

nav {
	font-size: 0;
    padding: 20px;
}

nav:first-child > ul {
	text-align: center;
}

li:not(.nav-sublist) {
	text-align: left;
}

aside.sidebar {
	max-width: 600px;
	margin: 0 auto;
}


ul.nav-sublist {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: rgba(0, 0, 0, 0.12);
}

ul.nav-sublist .right {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.12);
}

ul.nav-list li.nav-list-item {
	white-space: nowrap;
	position: relative;
}


ul.nav-list li.nav-list-item:hover > ul.nav-sublist {
	display: block;
}


ul.nav-list li.nav-list-item a {
	text-decoration: none;
	font-size: 16px;
	color: black;
	display: block;
	padding:  10px 20px;
	background-color: rgba(0, 0, 0, 0.1);
}

ul.nav-list li.nav-list-item a:hover {
	cursor: pointer;
	background-color:  rgba(0, 0, 0, 0.2);
}


ul:first-child > li.nav-list-item {
	display: inline-block;
}